body{
background:#f8f9fa;
}

.login-card{
width:100%;
max-width:400px;
border-radius:10px;
}

.card{
border:none;
}
#wrapper{
display:flex;
width:100%;
}

.sidebar{
width:220px;
min-height:100vh;
}

#page-content-wrapper{
width:100%;
}

.dashboard-card{
border-radius:10px;
}

@media (max-width:768px){
    .sidebar{
        position:absolute;
        left:-220px;
        transition:0.3s;
        z-index:1000;
    }

    /* Replace .active with toggled effect on wrapper */
    #wrapper.toggled .sidebar{
        left:0;
    }
}